
/* GENERAL */

* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

/* HEADER */

header {
    min-height: 100px;
    background-color: #fff;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0 0 3px #0009;
    z-index: 10;
}

.logo {
    width: 100px;
    height: 100px;
}

.links__nav {
    margin: auto 327px;

}

.links {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}

/* HOME */

.home__title {
    font-size: 48px;
    margin: 75px;
    z-index: 0;
}

h1 {
    font-family: "Dancing Script";
    text-align: center;
}

.home__p {
    text-wrap: pretty;
}

section {
    width: 900px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 125px;
    box-shadow: 0 0 12px #00000040;
    border-radius: 50px;
    padding: 75px;
    z-index: 0;
}

.section__image {
    border-radius: 4px;
}

.home__text-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.home__img-container {
    width: 350px;
}

.text--container {
    margin-left: 25px;
}

/* CONTACTOS */

/* NOSOTROS */

.us__title {
    margin: 25px;
}

.us__parraf {
    margin: auto;
    max-width: 1000px;
    text-wrap: pretty;
}

.us__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.us__image-title {
    margin-top: 50px;
}

.us__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.us__image-subtitle {
    padding-top: 17px;
}

.creators__container {
    display: flex;
}

.creators {
    display: flex;
    flex-direction: column;
    margin: 50px 75px;
    text-align: center;
}

/* PEDIDOS */

/* PRODUCTOS */

.products__title {
    position: relative;
    top: 50px;
}

.first__row, .second__row, .last__row {
    display: flex;
    justify-content: center;
    margin: 75px;
}

.food__container {
    width: 350px;
    margin: 45px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: transform 4.0 ease, box-shadow 4.0 ease;
}

.products {
    width: 250px;
    height: 175px;
    border-radius: 4px;
}

.food__container:hover {
    transform: scale(1.06);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    
}

/* FOOTER */

footer {
    background-color: #111;
    padding: 40px 20px 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 575px;
}

.footer__links, .footer__title {
    color: #fff;
    margin: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer__title {
    padding-bottom: 10px;
    font-size: 16px;
}

.footer__links {
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
    color: #ccc;
}

.footer__links:hover {
    color: #fff;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding-bottom: 30px;
}

.footer__bottom {
    background-color: #111;
    text-align: center;
    border-top: 1px solid #ccc;
    width: 1200px;
    margin: auto;
}

.copyright {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ccc;
    margin-top: 15px;
}